//components
@mixin global-btn {
    height: 48px;
    display: inline-block;
    background-color: $bg-brand;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    padding: 12px 28px;
    border-radius: 50px;
    border: none;
}

//headline
@mixin h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 100%;
    color: $text-white;
}

@mixin h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    color: $text-black;
    text-align: center;
}

@mixin h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: $text-black;
}

//text style
@mixin p1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    color: $text-black;
}