.footer {
    
    &__docmentation {
        max-height: max-content;
        padding: 27px 0;
        background-color: $bg-light-grey;
    }

    &__links-wrapper {
        max-width: 854px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__doc-link {
        @include p2;
        text-decoration: none;
    }

    &__main {
        max-height: max-content;
        padding: 24px 0;
        background-color: $bg-secondary;
    }

    &__tariffs {
        max-width: 1050px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    &__tariff-link {
        @include p2;
        text-decoration: none;
    }

    &__hotline {
        margin-bottom: 32px;
    }

    &__phone {
        @include p2;
        text-decoration: none;
        margin-bottom: 8px;
    }

    &__phone-info {
        @include p1;
        color: $grey;
    }

    &__global-links {
        margin-bottom: 32px;
    }

    &__global-links-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: max-content;
    }

    &__global-links-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: max-content;
        margin-right: 56px;
    }

    &__global-link {
        @include p2;
        text-decoration: none;
        color: $black;
        display: block;
        margin-bottom: 16px;
    }

    &__humo-info {
        margin-bottom: 32px;
    }

    &__humo-info-desc {
        max-width: 560px;
        @include p1;
        color: $grey;
        margin-bottom: 12px;
    }

    &__humo-address {
        max-width: max-content;
        @include p1;
        color:  $grey;
        font-style: normal;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__license {
        max-width: max-content;
        @include p1;
        color: $grey;
    }

    &__social-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__social-info {
        @include p1;
        color: $grey;
        margin-right: 24px;
    }

    &__social-logo {
        max-width: 40px;
        margin-right: 10px;
    }
}