.advantage {
    margin-bottom: 80px;

    &__h2 {
        @include h2;
        margin-bottom: 64px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    &__item {
        max-width: 377px;
        max-height: 202px;
        background-color: $bg-secondary;
        border-radius: 24px;
        padding: 32px 0;
        position: relative;
        z-index: -1;
    }

    &__number {
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background-color: $brand-color;
        width: 56px;
        height: 56px;
        position: absolute;
        top: -32px;
        left: 42%;
        margin-bottom: 18px;
    }

    &__content {
        padding: 0 32px;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
        color: $black;
        text-align: center;
        margin-bottom: 12px;
    }

    &__description {
        @include p1;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .advantage {
        &__wrapper {
            flex-direction: column;
        }

        &__item {
            max-width: 100%;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__number {
            left: 48%;
        }
    }
}

@media (max-width: 768px) {
    .advantage {
        &__h2 {
            font-size: 32px;
        }

        &__number {
            font-size: 24px;
        }
    }
}

@media (max-width: 576px) {
    .advantage {
        &__h2 {
            font-size: 24px;
            margin-bottom: 40px;
        }

        &__number {
            width: 48px;
            height: 48px;
            border-radius: 8px;
            left: 45%;
        }
    }
}

@media (max-width: 320px) {
    .advantage {
        &__item {
            max-height: auto;
        }

        &__description {
            font-size: 15px;
        }
    }
}