.bonus {
    margin-bottom: 120px;

    &__wrapper {
        max-width: 1200px;
        max-height: auto;
        background-color: $bg-tertiary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
        border-radius: 24px;
    }

    &__content {
        max-width: 615px;
    }

    &__h3 {
        @include h3;
        padding-bottom: 16px;
    }

    &__description {
        @include p1;
        max-width: 560px;
        padding-bottom: 16px;
    }

    &__button {
        @include buttonStyle;
    }

    &__img {
        width: 396px;
    }
}

@media (max-width: 992px) {
    .bonus {
        &__img {
            width: 350px;
        }
    }
}

@media (max-width: 768px) {
    .bonus {
        &__wrapper {
            width: 100%;
        }

        &__h3 {
            font-size: 24px;
        }

        &__img {
            width: 250px;
        }

        &__button {
            padding: 16px 24px;
        }
    }
}

@media (max-width: 576px) {
    .bonus {

        &__wrapper {
            flex-direction: column;
            max-height: auto;
            padding: 24px;
        }

        &__img {
            max-width: 320px;
        }
    }
}

@media (max-width: 320px) {
    .bonus {

        &__wrapper {
            padding: 10px;
        }

        &__h3 {
            font-size: 20px;
        }

        &__button {
            font-size: 16px;
        }
    }
}