.promo {
    background-color: $bg-secondary;
    padding: 160px 0 60px 0;
    margin-bottom: 120px;

    &__wrapper {
        max-width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__h1 {
        @include h1;
        margin-bottom: 16px;
    }

    &__description {
        @include p1;
        margin-bottom: 24px;
    }

    &__button {
        @include buttonStyle;
    }

    &__productImg {
        max-width: 450px;
    }
}

@media (max-width: 992px) {
    .promo {
        margin-bottom: 100px;

        &__h1 {
            font-size: 48px;
        }

        &__productImg {
            max-width: 350px;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        margin-bottom: 80px;
        padding: 120px 0 40px 0;

        &__wrapper {
            flex-direction: column-reverse;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 32px;
        }

        &__h1 {
            font-size: 40px;
        }

        &__description {
            text-align: center;
        }

        &__button {
            padding: 16px 24px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        padding: 100px 0 24px 0px;
        margin-bottom: 60px;

        &__productImg {
            max-width: 240px;
        }

        &__h1 {
            font-size: 32px;
            margin-bottom: 8px;
        }

        &__button {
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 500;
        }
    }
}