* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, button, input {
  font-family: 'Montserrat', sans-serif;
}

/* import base files */
/* background-color */
/* global-link-style */
/* global-hedline-styles */
/* global-text-style */
/* global-buttons-style */
/* import block files */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}

.promo {
  background-color: #F5F5F5;
  padding: 160px 0 60px 0;
  margin-bottom: 120px;
}

.promo__wrapper {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.promo__h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  margin-bottom: 16px;
}

.promo__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  margin-bottom: 24px;
}

.promo__button {
  background-color: #FF5A1E;
  border-radius: 100px;
  padding: 24px 48px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  cursor: pointer;
}

.promo__productImg {
  max-width: 450px;
}

@media (max-width: 992px) {
  .promo {
    margin-bottom: 100px;
  }
  .promo__h1 {
    font-size: 48px;
  }
  .promo__productImg {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .promo {
    margin-bottom: 80px;
    padding: 120px 0 40px 0;
  }
  .promo__wrapper {
    flex-direction: column-reverse;
  }
  .promo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }
  .promo__h1 {
    font-size: 40px;
  }
  .promo__description {
    text-align: center;
  }
  .promo__button {
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  .promo {
    padding: 100px 0 24px 0px;
    margin-bottom: 60px;
  }
  .promo__productImg {
    max-width: 240px;
  }
  .promo__h1 {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .promo__button {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
  }
}

.menu {
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(196, 196, 196, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu__wrapper {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  width: 180px;
}

.menu__phone {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  color: #2d2d2d;
}

.menu__item {
  list-style-type: none;
}

@media (max-width: 992px) {
  .menu__logo {
    max-width: 160px;
  }
}

@media (max-width: 768px) {
  .menu__logo {
    max-width: 140px;
  }
  .menu__phone {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  .menu__logo {
    max-width: 120px;
  }
  .menu__phone {
    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width: 320px) {
  .menu__logo {
    max-width: 100px;
  }
}

.advantage {
  margin-bottom: 80px;
}

.advantage__h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 64px;
}

.advantage__wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.advantage__item {
  max-width: 377px;
  max-height: 202px;
  background-color: #F5F5F5;
  border-radius: 24px;
  padding: 32px 0;
  position: relative;
  z-index: -1;
}

.advantage__number {
  font-size: 30px;
  font-weight: 500;
  line-height: 120%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #FF5A1E;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -32px;
  left: 42%;
  margin-bottom: 18px;
}

.advantage__content {
  padding: 0 32px;
}

.advantage__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 12px;
}

.advantage__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  text-align: center;
}

@media (max-width: 992px) {
  .advantage__wrapper {
    flex-direction: column;
  }
  .advantage__item {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .advantage__item:last-child {
    margin-bottom: 0;
  }
  .advantage__number {
    left: 48%;
  }
}

@media (max-width: 768px) {
  .advantage__h2 {
    font-size: 32px;
  }
  .advantage__number {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .advantage__h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .advantage__number {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    left: 45%;
  }
}

@media (max-width: 320px) {
  .advantage__item {
    max-height: auto;
  }
  .advantage__description {
    font-size: 15px;
  }
}

.bonus {
  margin-bottom: 120px;
}

.bonus__wrapper {
  max-width: 1200px;
  max-height: 340px;
  background-color: #FFEDD7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-radius: 24px;
}

.bonus__content {
  max-width: 615px;
}

.bonus__h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  padding-bottom: 16px;
}

.bonus__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  max-width: 560px;
  padding-bottom: 16px;
}

.bonus__button {
  background-color: #FF5A1E;
  border-radius: 100px;
  padding: 24px 48px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  cursor: pointer;
}

.bonus__img {
  width: 396px;
}

.cards {
  margin-bottom: 100px;
}

.cards__h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 60px;
}

.cards__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.cards__item {
  max-width: 392px;
  max-height: max-content;
  padding: 16px 24px;
  border-radius: 16px;
  background-color: #F5F5F5;
}

.cards__img {
  max-width: 280px;
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}

.cards__h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  padding-bottom: 12px;
}

.cards__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #2d2d2d;
  padding-bottom: 12px;
}

.cards__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #777777;
}

.cards li {
  padding-bottom: 8px;
  list-style: none;
}

.banner {
  margin-bottom: 120px;
}

.banner__wrapper {
  max-width: 1200px;
  max-height: max-content;
  background-color: #F5F5F5;
  border-radius: 32px;
  padding: 140px 60px 0 60px;
}

.banner__content {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.banner__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 130%;
  color: #2d2d2d;
  display: block;
  max-width: 700px;
  margin-bottom: 32px;
}

.banner__title span {
  color: #FF5A1E;
}

.banner__links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
}

.banner__link-item {
  max-width: 133px;
  max-height: 40px;
}

.banner__img {
  max-width: 280px;
}

.footer__docmentation {
  max-height: max-content;
  padding: 27px 0;
  background-color: #EEEEEE;
}

.footer__links-wrapper {
  max-width: 854px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__doc-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
}

.footer__main {
  max-height: max-content;
  padding: 24px 0;
  background-color: #F5F5F5;
}

.footer__tariffs {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.footer__tariff-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
}

.footer__hotline {
  margin-bottom: 32px;
}

.footer__phone {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer__phone-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
}

.footer__global-links {
  margin-bottom: 32px;
}

.footer__global-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: max-content;
}

.footer__global-links-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: max-content;
  margin-right: 56px;
}

.footer__global-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
  color: #2d2d2d;
  display: block;
  margin-bottom: 16px;
}

.footer__humo-info {
  margin-bottom: 32px;
}

.footer__humo-info-desc {
  max-width: 560px;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
  margin-bottom: 12px;
}

.footer__humo-address {
  max-width: max-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
  font-style: normal;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__license {
  max-width: max-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
}

.footer__social-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
  margin-right: 24px;
}

.footer__social-logo {
  max-width: 40px;
  margin-right: 10px;
}
