@charset "UTF-8";
/* line 1, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 7, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/style.scss */
html, button, input {
  font-family: 'Montserrat', sans-serif;
}

/* import base files */
/* background-color */
/* global-link-style */
/* global-hedline-styles */
/* global-text-style */
/* global-buttons-style */
/* import block files */
/* line 1, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_container.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  /* line 7, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_container.scss */
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  /* line 13, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_container.scss */
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  /* line 19, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_container.scss */
  .container {
    max-width: 540px;
  }
}

@media (max-width: 320px) {
  /* line 25, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_container.scss */
  .container {
    max-width: 300px;
  }
}

/* line 1, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_promo.scss */
.promo {
  background-color: #F5F5F5;
  padding: 160px 0 60px 0;
  margin-bottom: 120px;
}

/* line 6, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_promo.scss */
.promo__wrapper {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* line 14, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_promo.scss */
.promo__h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  margin-bottom: 16px;
}

/* line 19, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_promo.scss */
.promo__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  margin-bottom: 24px;
}

/* line 24, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_promo.scss */
.promo__button {
  background-color: #FF5A1E;
  border-radius: 100px;
  padding: 24px 48px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  cursor: pointer;
}

/* line 28, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_promo.scss */
.promo__productImg {
  max-width: 450px;
}

/* line 1, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
.menu {
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(196, 196, 196, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 9, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
.menu__wrapper {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 17, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
.menu__logo {
  width: 180px;
}

/* line 21, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
.menu__phone {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  color: #2d2d2d;
}

/* line 24, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
.menu__item {
  list-style-type: none;
}

@media (max-width: 992px) {
  /* line 31, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
  .menu__logo {
    max-width: 160px;
  }
}

@media (max-width: 768px) {
  /* line 39, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
  .menu__logo {
    max-width: 140px;
  }
}

@media (max-width: 576px) {
  /* line 47, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
  .menu__logo {
    max-width: 120px;
  }
}

@media (max-width: 320px) {
  /* line 55, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_header.scss */
  .menu__logo {
    max-width: 100px;
  }
}

/* line 1, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_advantage.scss */
.advantage {
  margin-bottom: 80px;
}

/* line 4, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_advantage.scss */
.advantage__h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 64px;
}

/* line 9, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_advantage.scss */
.advantage__wrapper {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

/* line 15, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_advantage.scss */
.advantage__item {
  max-width: 377px;
  max-height: 202px;
  background-color: #F5F5F5;
  border-radius: 24px;
  padding: 32px 0;
  position: relative;
  z-index: -1;
}

/* line 25, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_advantage.scss */
.advantage__number {
  font-size: 30px;
  font-weight: 500;
  line-height: 120%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #FF5A1E;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -32px;
  left: 42%;
  margin-bottom: 18px;
}

/* line 43, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_advantage.scss */
.advantage__content {
  padding: 0 32px;
}

/* line 47, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_advantage.scss */
.advantage__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 12px;
}

/* line 56, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_advantage.scss */
.advantage__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  text-align: center;
}

/* line 1, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_bonus.scss */
.bonus {
  margin-bottom: 120px;
}

/* line 4, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_bonus.scss */
.bonus__wrapper {
  max-width: 1200px;
  max-height: 340px;
  background-color: #FFEDD7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-radius: 24px;
}

/* line 15, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_bonus.scss */
.bonus__content {
  max-width: 615px;
}

/* line 19, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_bonus.scss */
.bonus__h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  padding-bottom: 16px;
}

/* line 24, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_bonus.scss */
.bonus__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  max-width: 560px;
  padding-bottom: 16px;
}

/* line 30, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_bonus.scss */
.bonus__button {
  background-color: #FF5A1E;
  border-radius: 100px;
  padding: 24px 48px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  cursor: pointer;
}

/* line 34, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_bonus.scss */
.bonus__img {
  width: 396px;
}

/* line 1, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards {
  margin-bottom: 100px;
}

/* line 4, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards__h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 60px;
}

/* line 9, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

/* line 15, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards__item {
  max-width: 392px;
  max-height: max-content;
  padding: 16px 24px;
  border-radius: 16px;
  background-color: #F5F5F5;
}

/* line 23, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards__img {
  max-width: 280px;
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}

/* line 30, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards__h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: #2d2d2d;
  padding-bottom: 12px;
}

/* line 35, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #2d2d2d;
  padding-bottom: 12px;
}

/* line 43, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #777777;
}

/* line 50, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_cards.scss */
.cards li {
  padding-bottom: 8px;
  list-style: none;
}

/* line 1, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_banner.scss */
.banner {
  margin-bottom: 120px;
}

/* line 4, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_banner.scss */
.banner__wrapper {
  max-width: 1200px;
  max-height: max-content;
  background-color: #F5F5F5;
  border-radius: 32px;
  padding: 140px 60px 0 60px;
}

/* line 12, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_banner.scss */
.banner__content {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* line 19, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_banner.scss */
.banner__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 130%;
  color: #2d2d2d;
  display: block;
  max-width: 700px;
  margin-bottom: 32px;
}

/* line 28, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_banner.scss */
.banner__title span {
  color: #FF5A1E;
}

/* line 33, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_banner.scss */
.banner__links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
}

/* line 40, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_banner.scss */
.banner__link-item {
  max-width: 133px;
  max-height: 40px;
}

/* line 47, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_banner.scss */
.banner__img {
  max-width: 280px;
}

/* line 3, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__docmentation {
  max-height: max-content;
  padding: 27px 0;
  background-color: #EEEEEE;
}

/* line 9, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__links-wrapper {
  max-width: 854px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 16, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__doc-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
}

/* line 21, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__main {
  max-height: max-content;
  padding: 24px 0;
  background-color: #F5F5F5;
}

/* line 27, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__tariffs {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

/* line 35, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__tariff-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
}

/* line 40, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__hotline {
  margin-bottom: 32px;
}

/* line 44, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__phone {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
  margin-bottom: 8px;
}

/* line 50, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__phone-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
}

/* line 55, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__global-links {
  margin-bottom: 32px;
}

/* line 59, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__global-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: max-content;
}

/* line 66, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__global-links-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: max-content;
  margin-right: 56px;
}

/* line 74, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__global-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
  color: #2d2d2d;
  display: block;
  margin-bottom: 16px;
}

/* line 82, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__humo-info {
  margin-bottom: 32px;
}

/* line 86, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__humo-info-desc {
  max-width: 560px;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
  margin-bottom: 12px;
}

/* line 93, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__humo-address {
  max-width: max-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
  font-style: normal;
}

/* line 100, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 106, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__license {
  max-width: max-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
}

/* line 112, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__social-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 118, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__social-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #2d2d2d;
  color: #777777;
  margin-right: 24px;
}

/* line 124, ../../../OneDrive/Рабочий стол/Humo/LandingPages/Visa/src/scss/blocks/_footer.scss */
.footer__social-logo {
  max-width: 40px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */