* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, button, input {
    font-family: 'Montserrat', sans-serif;
}

/* import base files */
@import 'base/variables';
@import 'base/mixins';

/* import block files */
@import 'blocks/container';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantage';
@import 'blocks/bonus';
@import 'blocks/cards';
@import 'blocks/_banner'